.friendSection {
  max-width: 1200px;
  padding-left: 0 15px;
  width: 100%;
  margin: 0 auto;
}
.friendLlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0;
  background-color: #d4cdd049;
  width: 100%;
  list-style-type: none;
}
